.navbar-green {
    background-color: #2E5339;
}

.bg-dark-green {
    background-color: #2E5339;
}

.jumbotron {
    background-color: #D3FAD6;
}

.bg-soft-green {
    background-color: #495F41;
    font-weight: bold;
    color: #FFF;
}

.btn-primary {
    background-color: #495F41;
    border-color: #495F41;
}

.btn-primary:hover {
    background-color: #2E5339;
    border-color: #2E5339;
}

.navbar-light .navbar-brand,
.navbar-light .navbar-nav .nav-link {
    color: #FFF;
}

.navbar-light .navbar-brand:hover,
.navbar-light .navbar-nav .nav-link:hover {
    color: #EDEBA0;
}

.header {
    color: #495F41;
}

#main_content {
    margin-top: 20px;
    margin-bottom: 30px;
}

#main_menu li {
    background-color: #D3FAD6;
}

#main_menu a {
    color: #495F41;
    font-weight: bold;
    text-decoration: none;
}

#main_menu a:hover {
    color: #2E5339;
    text-decoration: underline;
}

.space-100 {
    margin-bottom: 100px;
}