{% extends 'layout/base.html' %}
{% block title %}
    Semua Catatanku
{% endblock title %}

{% block rightmenu %}
    {% include 'components/profil_menu.html' %}
{% endblock rightmenu %}

{% block maincontent %}
<div class="row">
    {% include 'components/main_menu.html' %}
    <div class="col-md-8">
        <div>
            <h3 class="header">Di sini tertulis semua catatan</h3>
        </div>
    </div>
</div>

{% endblock maincontent %}