{% extends 'layout/base.html' %}
{% block title %}
    Semua Catatanku
{% endblock title %}

{% block rightmenu %}
    {% include 'components/profil_menu.html' %}
{% endblock rightmenu %}

{% block maincontent %}
<div class="row">
    <div class="col-md-4">
        {% include 'components/main_menu.html' %}
    </div>
    <div class="col-md-8">
        <div>
            <h3 class="header">Form Profil</h3>
        </div>
        <div>
            <form action="" method="post" enctype="multipart/form-data">
                <input type="hidden" name="id" id="id" value="{{user['id']}}">
                <div class="mb-3 row">
                <label for="username" class="col-sm-3 col-form-label">Username</label>
                <div class="col-sm-9">
                    <input type="text" readonly class="form-control" id="username" name="username" value="{{user['username']}}">
                </div>
                </div>
                <div class="mb-3 row">
                    <label for="email" class="col-sm-3 col-form-label">Email</label>
                    <div class="col-sm-9">
                        <input type="text" readonly class="form-control" id="email" name="email" value="{{user['email']}}">
                    </div>
                </div>
                <div class="mb-3 row">
                    <label for="fullname" class="col-sm-3 col-form-label">Nama Lengkap</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="fullname" name="fullname" value="{{user['fullname']}}">
                    </div>
                </div>
                <div class="mb-3 row">
                    <label for="tgllahir" class="col-sm-3 col-form-label">Tgl. Lahir</label>
                    <div class="col-sm-9">
                        <input type="date" class="form-control" id="tgllahir" name="tgllahir" value="{{user['tgllahir']}}">
                    </div>
                </div>
                <div class="mb-3 row">
                    <label for="gender" class="col-sm-3 col-form-label">Gender</label>
                    <div class="col-sm-9">
                        <label class="radio-inline mr-3">
                            <input type="radio" name="gender" {% if user['gender'] == 'lk' %} checked {% endif %} value="lk"> Laki-laki
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="gender" {% if user['gender'] == 'pr' %} checked {% endif %} value="pr"> Perempuan
                        </label>
                    </div>
                </div>
                <div class="mb-3 row">
                    <label class="col-sm-3 col-form-label">Foto Profil</label>
                    <div class="col-sm-9">
                        <input type="file" name="fotoprofil" class="form-control" id="fotoprofil">
                    </div>
                </div>
                <div class="mb-3 row">
                <label for="password" class="col-sm-3 col-form-label">Password</label>
                <div class="col-sm-9">
                    <input type="password" class="form-control" id="password" name="password">
                </div>
                </div>
                <div class="mb-3 row">
                    <label for="confirmation" class="col-sm-3 col-form-label">Konfirmasi</label>
                    <div class="col-sm-9">
                        <input type="password" name="confirm_password" class="form-control" id="confirm_password">
                    </div>
                </div>
                <div class="mb-3 row">
                    <label for="confirmation" class="col-sm-3 col-form-label">&nbsp;</label>
                    <div class="col-sm-9">
                        <button type="submit" class="btn btn-primary">Simpan</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock maincontent %}