{% extends 'layout/base.html' %}
{% block title %}
Social Notes
{% endblock title %}

{% block rightmenu %}
    {% include 'components/login_menu.html' %}
{% endblock rightmenu %}

{% block hero %}
<div class="jumbotron text-center">
    <h1>Selamat Datang di Social Notes</h1>
    <p>Aplikasi untuk membuat, berbagi, dan mengorganisasi catatan Anda</p>
    <a class="btn btn-primary" href="{{url_for('register')}}">Mulai Sekarang</a>
</div>
{% endblock hero %}

{% block maincontent %}
<div class="row">
    <div class="col-md-4">
        <h3 class="header">Manajemen Catatan</h3>
        <p>Dengan Social Notes, Anda dapat mengorganisasi catatan Anda dengan mudah berdasarkan kategori.</p>
    </div>
    <div class="col-md-4">
        <h3 class="header">Berbagi Catatan</h3>
        <p>Bagikan catatan Anda kepada teman dekat Anda atau buat catatan pribadi.</p>
    </div>
    <div class="col-md-4">
        <h3 class="header">Pencarian Catatan</h3>
        <p>Gunakan fitur pencarian kami untuk menemukan catatan dengan cepat berdasarkan kata kunci atau kategori.</p>
    </div>
</div>
{% endblock maincontent %}