{% extends 'layout/base.html' %}

{% block title %}
    Login Aplikasi
{% endblock title %}

{% block maincontent %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            {% with messages = get_flashed_messages() %}
            {% for message in messages %}
                <div class="alert alert-info" role="alert">
                {{message['register']}}
                </div>
            {% endfor %}
            {% endwith %}
            {% if error %}
                <div class="alert alert-danger" role="alert">
                {{error}}
                </div>
            {% endif %}
            <div class="card">
                <div class="card-header bg-soft-green">Masuk ke Social Notes</div>
                <div class="card-body">
                    <form action="" method="post">
                        <div class="form-group">
                            <label for="username">Username</label>
                            <input type="text" name="username" class="form-control" id="username" placeholder="Username Anda">
                        </div>
                        <div class="form-group">
                            <label for="password">Password</label>
                            <input type="password" name="password" class="form-control" id="password" placeholder="Password Anda">
                        </div>
                        <button type="submit" class="btn btn-primary btn-block">Masuk</button>
                    </form>
                    <div>
                        <br>
                        Belum punya akun? <a href="{{url_for('register')}}">Register di sini.</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock maincontent %}