{% extends 'layout/base.html' %}
{% block title %}
    Semua Catatanku
{% endblock title %}

{% block rightmenu %}
    {% include 'components/profil_menu.html' %}
{% endblock rightmenu %}

{% block maincontent %}
<div class="row">
    <div class="col-md-4">
        {% include 'components/main_menu.html' %}
    </div> 
    <div class="col-md-8">
        <div>
            <h3 class="header">Di sini ditampilkan semua member</h3>
            <hr>
            <div class="row">
                {% for data in members %}
                    <div class="col-lg-4">
                        <div class="card" style="width:105%; margin-bottom: 20px;">
                            <img src="{{url_for('static', filename='images/upload/{}'.format(data['fotoprofil']))}}"
                                class="card-img-top img-responsive" alt="default profile">
                            <div class="card-body">
                            <div class="card-text">
                                <span class="text-secondary">@{{data['username']}}</span>
                                <h4>{{data['fullname']}}</h4>
                                <p>Jumlah catatan: 250</p>
                                <a href="#" class="btn btn-primary btn-sm">Lihat Catatan &raquo;</a> 
                                <a href="{{url_for('form_profil')}}" class="btn btn-warning btn-sm">E</a>
                                <a href="#" class="btn btn-danger btn-sm">D</a>
                            </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% endblock maincontent %}