{% extends 'layout/base.html' %}

{% block title %}
    Mendaftar Aplikasi
{% endblock title %}

{% block maincontent %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            {% if error %}
                <div class="alert alert-danger" role="alert">
                {{error}}
                </div>
            {% endif %}
            <div class="card">
                <div class="card-header bg-soft-green">Daftar di Social Notes</div>
                <div class="card-body">
                    <form action="" method="post" enctype="multipart/form-data">
                        <div class="form-group">
                            <label for="username">Username</label>
                            <input type="text" name="username" class="form-control" id="username" placeholder="Username Anda">
                        </div>
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input type="email" name="email" class="form-control" id="email" placeholder="Email Anda">
                        </div>
                        <div class="form-group">
                            <label for="fullname">Nama Lengkap</label>
                            <input type="text" name="fullname" class="form-control" id="fullname" placeholder="Nama Lengkap Anda">
                        </div>
                        <div class="form-group">
                            <label for="foto_profil">Foto Profil</label>
                            <input type="file" name="fotoprofil" class="form-control" id="fotoprofil">
                        </div>
                        <div class="form-group">
                            <label for="birthdate">Tanggal Lahir</label>
                            <input type="date" name="tgllahir" class="form-control" id="tgllahir">
                        </div>
                        <div class="form-group">
                            <label>Jenis Kelamin</label>
                            <div>
                                <label class="radio-inline mr-3">
                                    <input type="radio" name="gender" value="lk"> Laki-laki
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="gender" value="pr"> Perempuan
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="password">Password</label>
                            <input type="password" name="password" class="form-control" id="password" placeholder="Password Anda">
                        </div>
                        <div class="form-group">
                            <label for="confirm_password">Konfirmasi Password</label>
                            <input type="password" name="confirm_password" class="form-control" id="confirm_password" placeholder="Konfirmasi Password Anda">
                        </div>
                        <button type="submit" class="btn btn-primary btn-block">Daftar</button>
                    </form>
                    <div>
                        <br>
                        Sudah punya akun? <a href="{{url_for('login')}}">Login di sini.</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock maincontent %}