<div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
        <li class="nav-item">
            <a class="nav-link" href="{{url_for('login')}}">Masuk</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{url_for('register')}}">Daftar</a>
        </li>
    </ul>
</div>