<div class="card" id="main_menu">
    <ul class="list-group list-group-flush">
        <a href="{{url_for('catatanku')}}"><li class="list-group-item">Catatanku</li></a>
        <a href="{{url_for('members')}}"><li class="list-group-item">List Member</li></a>
        <a href="#"><li class="list-group-item">Catatan Dibagikan</li></a>
    </ul>
</div>