<div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
        <li class="nav-item">
            <a class="nav-link" href="{{url_for('profil')}}">Profil</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{url_for('logout')}}">Logout</a>
        </li>
    </ul>
</div>