<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title required %}{% endblock title %} - Social Notes </title>
    <!-- Include Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
</head>
<body>
<!-- Header -->
<nav class="navbar navbar-expand-lg navbar-light navbar-green">
    <a class="navbar-brand" href="{{url_for('index')}}">Social Notes</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    {% block rightmenu %}
    {% endblock rightmenu %}
</nav>

{% block hero %}    
{% endblock hero %}

<div class="container" id="main_content">
    {% block maincontent %}
    {% endblock maincontent %}
</div>

<!-- Footer -->
<footer class="bg-dark-green text-light text-center py-3">
    &copy; {{ tgl.year }} Social Notes
</footer>
<!-- Include Bootstrap JS and jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>
